@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --f-inter: "Inter", sans-serif;
    --c-blue-dark-text: #101828;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

nav {
    width: 357px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.sidebar-right {
    width: 277px;
    height: 100%;
    background-color: #FCFCFD;
    border-right: 1px solid #E1E1E1;
}

.sidebar-right-top {
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #E1E1E1;
}

.side-right-bottom-inner {
    padding: 24px 0 0 0;
}

.side-right-bottom-inner-courses,
.side-right-bottom-inner-events {
    height: 48px;
    padding: 0 16px 0 16px;
}

.side-right-bottom-inner-courses > div,
.side-right-bottom-inner-events > div {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fill;
    height: 40px;
    border-radius: 8px;
    padding-inline: 24px;
    cursor: pointer;
}

.opened {
    background-color: #F2F4F7;
}

.side-right-bottom-inner-courses > div > span,
.side-right-bottom-inner-events > div > span {
    font-family: var(--f-inter);
    font-weight: 500;
}

/* MAIN */

main {
    width: calc(100% - 437px);
    margin-left: 357px;
}

.navbar {
    height: 72px;
    border-bottom: 1px solid #E1E1E1;
}

.explore-header {
    padding: 16px 56px 16px 56px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.explore-header-text {
    display: flex;
    flex-direction: column;
    font-family: var(--f-inter);
}

.explore-header-text > h2 {
    width: max-content;
    font-weight: 700;
    line-height: 39.94px;
    font-size: 33px;
    background: linear-gradient(90deg, #5663D9 0%, #AD72C2 56.57%, #C68CAD 99.99%, #FFB58A 100%);
    color: transparent;
    background-clip: text;
}

.explore-header-text > span {
    width: max-content;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    color: var(--c-blue-dark-text);
}

.search-category-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 460px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    background-color: #FAFAFA;
    padding: 8px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.search > input {
    font-family: var(--f-inter);
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    color: var(--c-blue-dark-text);
    outline: none;
    font-size: 18px;
    font-weight: 400;
}

.search > input::placeholder {
    color: var(--c-blue-dark-text);
    font-size: 18px;
    font-weight: 400;
}

.categorySelect {
    display: flex;
    column-gap: 10px;
}

/* CATEGORY SELECT */

.category-select-btn {
    width: 145px;
    height: 40px;
    border-radius: 200px;
    border: 1px solid #D0D5DD;
    gap: 10px;
    padding: 8px 16px 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--f-inter);
    cursor: pointer;
}

.category-select-btn > span {
    color: var(--c-blue-dark-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}

/* LEVEL SELECT */

.level-select-btn {
    width: 111px;
    height: 40px;
    border-radius: 200px;
    border: 1px solid #D0D5DD;
    gap: 10px;
    padding: 8px 16px 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--f-inter);
    cursor: pointer;
}

.level-select-btn > span {
    color: var(--c-blue-dark-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}