@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-radial-gradient {
  position: relative;
}

.bg-radial-gradient::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  right: -25%;
  bottom: -15%;
  /* top: 45%;
  left: 75%; */
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(16, 24, 40, 0.4) 0%,
    rgba(170, 143, 255, 0.4) 100%
  );
  filter: blur(32.3278px);
  z-index: -1;
}

@media (min-width: 768px) {
  .bg-radial-gradient::before {
    width: 30%;
    height: auto;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(105px);
  }
  .bg-radial-gradient:nth-child(even):before {
    left: 0;
  }
}

